* {
  box-sizing: border-box;
}

body{
  background-color: #efefef;
}
/* ---Hero Section--- */
.hero_text{
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: flex-start;

  /* small tweaks for positioning of elements */
  margin-top: 200px;
  margin-left: 250px;
}

.hero {
  display: flex;
  flex-direction: row;

  font-family: 'Open Sans', sans-serif;
  
  width: 100%;
  height: 100vh;
}

.hero .name {
  font-size: 70px;
  color: #365767;
  font-weight: 600;
  margin: 0; /* to remove margins for each line */
}

.hero .school{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #872338;
  margin: 0;
}

.hero h1{
  font-size: 70px;
  font-weight: 600;
  color: #312f2f;
  margin: 0;
}

.hero h2{
  font-size: 30px;
  font-weight: 600;
  color: #312f2f;
  margin: 0;
}

.hero p{
  font-size: 30px;
  font-weight: 600;
  color: #312f2f;
  margin: 0;
}


/* --- About Me Button --- */
/* Outer Shape (Teal Background) */
.abt_me_btn {
  display: inline-flex;
  align-items: flex-start; /* Y-axis */
  align-self: flex-start; /* Stops the vertical stretching */
  gap: 6px;
  background-color: #365767;
  border-radius: 50px;
  padding: 6px 10px;
  text-decoration: none;
  margin-top: 20px;
}

/* Inner Shape (Dark Blue Background) */
.abt_me_btn .abt_me {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #efefef;
  background-color: #3b4264;
  padding: 6px 20px;
  border-radius: 50px;
}

/* The Icon */
.abt_me_btn .btn_icon {
  width: 35px;
  display: block;  
}


/* --- Blob Picture --- */
.blob_frame{
  flex-shrink: 0;
  width: 700px; 
  height: 700px;

  background-image: url("me.jpg");
  background-size: 70% auto;
  background-position: center;

  /* Use SVG as the mask */
  -webkit-mask-image: url('blob.svg');
  mask-image: url('blob.svg');
  
  /* Ensures the mask covers the whole div */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  
  margin-top: 50px ;
  margin-left: 400px;
}


/* --- Second Page ---*/
.second {
  display: flex;
  flex-direction: row;      /* Side-by-side layout */
  align-items: flex-start;
  min-height: auto;
  height: 100vh;
  box-sizing: border-box;

  background-color: #CFCFCF;
}

.abt_me_pic img {
  width: 400px;
  height: 680px;

  margin-top: 180px;
  margin-left: 250px;

  border: 5px solid #3b4264;
  border-radius: 20px;
}

.abt_contents {
  display: flex;
  flex-direction: column;   
  max-width: 750px;    
  
  margin-top: 200px;
  margin-left: 200px;
}

.abt_text{
  font-family: 'Open Sans', sans-serif;
  color: #312f2f;
  text-align: justify;
}

.abt_text h1 {
  display: block;           /* Ensures it stays above the <p> tag */
  font-size: 70px;
  margin-bottom: 20px;
  text-align: right;
}

.abt_text h1 .me{
  font-size: 70px;
  font-weight: 600;
  color: #365767;
}

.slider{
  display: flex;

  width: 750px;             
  height: 350px;
  flex-shrink: 0;           
  overflow: hidden;
  border: 5px solid #3b4264;
  border-radius: 20px;
  margin-right: 220px;

}

.track{
  display: flex;
  width: max-content;
  animation: slide 15s linear infinite;
}

.track img{
  width: 450px;
  height: 350px;
  border-right: 5px solid #3b4264;
  box-sizing: border-box;
}

@keyframes slide{
  0% { transform: translateX(0); }
  /* Slide exactly the width of the first 4 images (450 * 4) */
  100% { transform: translateX(-1800px); }
}

/* --- Third Page --- */
.projects{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects h1{
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
  text-align: justify;
  font-size: 70px;

  background-color: #365767;
  padding: 10px;
  border: #3b4264 solid;
  border-radius: 30px;

  align-self: flex-start;

  margin-left: 250px;
  margin-top: 115px;
}

table{
  margin: 0 auto;         /* Centering a table requires auto margins */
  width: 100%;             
  max-width: 1200px;
  border-collapse: separate; 
  border-spacing: 10px;
  text-align: center;
}

td, th{
  font-family: 'Open Sans', sans-serif;
  background-color: #3b4264;
  border-radius: 20px;
  padding: 10px;
  color: #efefef;
}

tr .titles{
  font-size: small;
}

.table_pic{
  width: 150px;
  height: 150px;
  
  border: 5px #efefef solid;
  border-radius: 20px;

  object-fit: cover;
  object-position: 50% 30% ;
}

/* --- Fourth Page --- */
.socials_section{
  background-color: #CFCFCF;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin-top: 100px;

}
.social_media{
  margin-left: 430px;
  margin-top: 325px;
}
.social_media h1{
  font-size: 70px;
  color: #312f2f;
  margin: 0;
  padding-bottom: 20px;
}

.social_media p{
  font-size: 15px;
  color: #312f2f;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.social_media .gallery{
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 10px;
  margin-top: 30px;
}

.gallery img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 5px #CFCFCF solid;
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.gallery img:hover{
  transform: scale(1.05);
}

.poem{
  color: #312f2f;
  align-items: flex-start;
  margin-left: 300px;
  margin-top: 325px;
  text-align: center;
}

.poem h2{
  font-size: 60px;
  margin: 0;
}

.poem h2 .puno{
  color: #396A39;
}
.poem h3{
  font-size: 15px;
}

.poem p{
  padding: 5px;
  font-size: 20px;
  line-height: 1.5;
}

/* --- NAVBAR --- */
ul {
  font-family: 'Open Sans', sans-serif;
  width: 1500px;
  margin:10px auto;
  border-radius: 20px; /* makes it oval */

  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center;  
  list-style: none;
  padding: 5px;
  background-color: #3b4264;

  position: relative;
}

ul li a {
  display: block;
  color: #efefef;
  padding: 14px 20px;
  text-decoration: none;
}

ul li.center a:hover {
  background-color: #365767;
}

ul .center{
  display: flex;
}

ul .right{
  font-weight: 600;
  
  border-radius: 50px;
  background-color: #efefef;
  border: 2px solid #365767; /* border around the background */
  border-radius: 50px;

  position: absolute;
  right: 20px;
}

ul .right a{
  color: #3b4264;
}

ul li.right a:hover {
  text-decoration: underline;
}

ul .left {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  height: 100%; /* Keeps it vertically centered in the ul */
}

ul li.left a {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Create the white circle base */
  background-color: #efefef; 
  width: 50px;  /* Must be same as height */
  height: 50px; 
  border-radius: 50%;
  
  padding: 0; /* Remove any inherited padding */
  text-decoration: none;
  transition: transform 0.3s ease;
}

ul li.left a:hover {
  transform: scale(1.1); /* Subtle pop effect on hover */
  background-color: #ffffff;
}

.left img {
  /* This controls how big the logo looks inside the white circle */
  width: 80%; 
  height: 80%;
  
  object-fit: contain; /* Ensures the logo isn't stretched */
  display: block;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* --- Pop-up --- */
.overlay_popup{
  position: fixed; 
  display: none; /*hide until clicked*/
  top: 0; left: 0; /*starting location*/
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5); /*0.5 is for transparency*/
  backdrop-filter: blur(4px); /*bg blur*/
  z-index: 9999;
  justify-content: center;
  align-items: center;
  
}

.overlay_popup:target{
  display: flex; /*show when clicked*/
}

.overlay_message {
  font-family: 'Open Sans', sans-serif;
  background-color: #3b4264;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  position: relative;     /* Needed for the close button position */
  text-align: center;
  color: #efefef;
}

.close_btn {
  position: absolute;
  top: 15px; 
  right: 20px;
  text-decoration: none;
  color: #efefef;
  font-size: 2rem;
}

.input_box textarea, .input_box input{
  align-self: center;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border: 2px solid #4e557a;
  resize: none;
}

.send_btn{
  background: #efefef solid;
  border: #3b4264;
  border-radius: 20px;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B6B6B6;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
}

#home{
  scroll-margin-top: 80px;
}

#projects{
  scroll-margin-top: -20px;
}

#socials{
  scroll-margin-top: -100x;
}

html{
  scroll-behavior: smooth;
}